body {
  font-family: Poppins, sans-serif;
  line-height: 120%;
}

a {
  text-decoration: none;
}


.portfolio {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	
	background: var(--Background-Color, #161513);
}

.portfolio .footer {
	/* Inside Auto layout */
	align-self: stretch;
	width: auto;

	display: flex;
	justify-content: center;
}
