.header {
	/* Auto layout */
	display: flex;
	padding: 20px;
	justify-content: center;
	align-items: center;
	gap: 67px;
	
	box-shadow: 0 4.364px 16px -2.182px rgba(0, 0, 0, 0.10);
	background: #222;
}

.header .header-container {
	/* Inside Auto layout */
	flex: 1 0 0;
	width: auto;
	
	/* Auto layout */
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	max-width: 1000px;
}

.header .header-container > .text {
	color: #FFF;
	text-align: center;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.header .header-container .contact-icons {
	/* Auto layout */
	display: flex;
	align-items: center;
	
	overflow: hidden;
}

.header .header-container .contact-icons a {
	display: inline-flex;
}